/* GLOBAL */

body {
  font-family: 'droid serif', times, serif;  
  overflow-y: scroll;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: black;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #000;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}

h2 {
  font-family: 'droid serif', serif;  
  font-weight: 300;
  font-size: 1.5rem;
}

p {
  line-height: 150%;
}

div {
  width: 95vw;
  height: 0;
  margin: 2.5vw;
}

ul {
	list-style: none;
}

li {
	line-height: 150%;
}

/* HEADER */

#GlobalLogo {
	text-align: center;
	padding-top: 5vh;
	}

.TagLine {
	font-size: 1rem;
	text-align: center;
	letter-spacing: 8.7px;
	margin-top: -3vh;
}

/* CONTENT */

.Content {
	padding: 5vw;
}

/* FOOTER */

/* can't get the text underline out of the buttons. also cannot position them anywhere on the page */

.SocialMediaButton {
	height: 3.2rem;
	width: 3.2rem;
	border-radius: 100%;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
	left: 50%;
	color: #fff;
}

.ContactButton {
	background: url("images/email_48.png") no-repeat;
  }

.TwitterButton {
	background: url("images/twitter_48.png") no-repeat;
}

.PinterestButton {
	background: url("images/pinterest_48.png") no-repeat;
}

.InstagramButton {
	background: url("images/instagram_48.png") no-repeat;
}

.SocialMediaButtonList {
	display: inline-block;
	float: left;
}



















